*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-weight: bold;
}
main{
    min-height: calc(100vh - 38px);
}
nav{
    width: 100%;
    text-align: center;
}
.form{
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.text{
    background-color: white;
    color: black;
}
.cabecera{
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    padding-bottom: 30px;
}
.input{
    background-color: red;
    color: white;
    font-weight: bold;
}
table{
    width: 100%;
    margin-top: 50px;
}
table tr th,td{
    border: solid 3px red;
    padding-top: 5px;
    padding-bottom: 5px;
}
a{
    text-decoration: none; 
}
footer{
    width: 100%;
    background-color: red;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
button{
    background-color: red;
    color: white;
    font-weight: bold;
}
button a{
    text-decoration: none;
}